.slide-nav-btn-container {
  margin: 0;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9999;
  border-radius: 10px; }

#slide-nav-btn {
  width: 36px;
  height: 18px;
  position: relative;
  display: block;
  cursor: pointer;
  margin: 0 auto; }
  #slide-nav-btn .line {
    width: 36px;
    height: 2px;
    display: block;
    background-color: #fff;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.58, 0, 0.58, 1);
    transition: all 0.3s cubic-bezier(0.58, 0, 0.58, 1); }
    #slide-nav-btn .line:nth-child(1) {
      top: 0; }
    #slide-nav-btn .line:nth-child(2) {
      top: 50%;
      margin-top: -1px;
      margin-left: 8px;
      width: 28px; }
    #slide-nav-btn .line:nth-child(3) {
      top: 100%;
      margin-top: -2px;
      margin-left: 16px;
      width: 20px; }
  #slide-nav-btn:hover .line:nth-child(1), #slide-nav-btn:focus .line:nth-child(1) {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px); }
  #slide-nav-btn:hover .line:nth-child(3), #slide-nav-btn:focus .line:nth-child(3) {
    -webkit-transform: translateY(1px);
            transform: translateY(1px); }
  #slide-nav-btn.slide-nav-btn-active .line {
    margin-left: 2px; }
    #slide-nav-btn.slide-nav-btn-active .line:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
              transform: translateY(8px) rotate(45deg);
      width: 32px;
      margin-right: 3px; }
    #slide-nav-btn.slide-nav-btn-active .line:nth-child(2) {
      opacity: 0; }
    #slide-nav-btn.slide-nav-btn-active .line:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
              transform: translateY(-8px) rotate(-45deg);
      margin-left: 2px;
      width: 32px; }

.slide-nav {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  min-height: 100vh;
  z-index: 888;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  top: -100%;
  text-align: center; }

.slide-nav-active {
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.slide-nav ul {
  list-style: none;
  padding: 0; }

.slide-nav ul li {
  padding-bottom: 2px; }

.slide-nav ul li a {
  color: rgba(255, 255, 255, 0.55);
  font-size: 35px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.slide-nav ul li a:hover {
  color: #fff; }

.home {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.8))), url("../Assets/interior.png");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("../Assets/interior.png");
  background-size: cover;
  text-align: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /* FallBack IE */
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }

.home h1 {
  text-align: center;
  font-size: 15vw;
  margin: 0; }

.home p {
  font-size: 4.3vw;
  margin-top: -3vw;
  margin-left: -20vw;
  font-family: 'Merienda One',Arial,Helvetica,sans-serif; }

.home img {
  width: 80%; }

.home a {
  position: absolute;
  bottom: 60px;
  left: calc(50% - 14px);
  display: block;
  z-index: 1; }

@media (min-width: 760px) {
  .home h1 {
    font-size: 12vw; }

  .home > div:nth-child(1) {
    margin-top: 15vw; }

  .home > div:nth-child(2) {
    margin-bottom: 15vw; }

  .home p {
    font-size: 3.3vw;
    margin-top: -3vw;
    margin-left: -18vw; }

  .home img {
    width: 65%; } }
@media (min-width: 1200px) {
  .home {
    background-attachment: fixed;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .home > div:nth-child(1) {
    margin-top: 0;
    margin-bottom: 10vw;
    width: 60%; }

  .home > div:nth-child(2) {
    margin-bottom: 0;
    width: 40%;
    margin-left: -5vw; }

  .home h1 {
    font-size: 9vw; }

  .home p {
    font-size: 2vw;
    margin-top: -2.2vw;
    margin-left: -21vw; }

  .home img {
    margin-right: 10%;
    width: 90%; } }
@media (max-height: 500px) and (max-width: 900px) {
  .home {
    background-attachment: fixed;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .home > div:nth-child(1) {
    margin-top: 0;
    margin-bottom: 10vw;
    width: 60%; }

  .home > div:nth-child(2) {
    margin-bottom: 0;
    width: 40%;
    margin-left: -5vw; }

  .home h1 {
    font-size: 9vw; }

  .home p {
    font-size: 2vw;
    margin-top: -2.2vw;
    margin-left: -21vw; }

  .home img {
    margin-right: 10%;
    width: 90%; } }
@media (max-height: 800px) and (max-width: 1050px) and (min-width: 760px) and (min-height: 600px) {
  .home {
    background-attachment: fixed;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .home > div:nth-child(1) {
    margin-top: 0;
    margin-bottom: 10vw;
    width: 60%; }

  .home > div:nth-child(2) {
    margin-bottom: 0;
    width: 40%;
    margin-left: -5vw; }

  .home h1 {
    font-size: 9vw; }

  .home p {
    font-size: 2vw;
    margin-top: -2.2vw;
    margin-left: -21vw; }

  .home img {
    margin-right: 10%;
    width: 90%; } }
.quote {
  color: black;
  text-align: center;
  height: 100vh;
  background-image: url(../Assets/bild_pengar.png), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3)));
  background-image: url(../Assets/bild_pengar.png), linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
  background-size: contain;
  background-position: center;
  background-repeat: repeat-y;
  background-blend-mode: lighten;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 30px solid #fff; }

.quoteInnerWrapper {
  margin: 0 15px; }

.quotation--top,
.quotation--bottom {
  display: block;
  font-size: 6em;
  line-height: 0;
  padding-bottom: 63px; }

.quoteInnerWrapper h2 {
  font-size: 1.6em;
  margin: 20px 0; }

.quoteInnerWrapper p {
  font-size: 1.1em;
  margin: 15px 0;
  padding: 0;
  color: #414141; }

@media (min-width: 760px) {
  .quote {
    background-size: cover; }

  .quoteInnerWrapper {
    margin: 0 60px; }

  .quoteInnerWrapper h2 {
    font-size: 2.8em;
    margin: 25px 0; }

  .quoteInnerWrapper p {
    font-size: 1.5em;
    margin: 20px 0; }

  .quotation--bottom, .quotation--top {
    font-size: 8em;
    padding-bottom: 85px; } }
@media (min-width: 1200px) {
  .quote {
    background-attachment: fixed; }

  .quoteInnerWrapper {
    margin: 0 160px; }

  .quoteInnerWrapper h2 {
    font-size: 3.5em;
    margin: 35px 0; }

  .quoteInnerWrapper p {
    font-size: 1.6em;
    margin: 25px 0; }

  .quotation--bottom, .quotation--top {
    font-size: 8em;
    padding-bottom: 85px; } }
@media (max-height: 500px) and (max-width: 900px) {
  .quote {
    background-size: cover; }

  .quoteInnerWrapper {
    margin: 0 60px; }

  .quoteInnerWrapper h2 {
    font-size: 1.6em;
    margin: 15px 0; }

  .quoteInnerWrapper p {
    font-size: 0.9em;
    margin: 10px 0; }

  .quotation--bottom, .quotation--top {
    font-size: 4em;
    padding-bottom: 40px; } }
.aboutSection {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.8))), url("../Assets/interior.png");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("../Assets/interior.png");
  background-size: cover;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.aboutSectionHeading {
  margin: 0;
  font-size: 1.6em;
  margin-bottom: 20px; }

.aboutSectionAvatar {
  width: 60%;
  height: auto; }

.aboutSectionText {
  margin: 20px auto;
  padding: 0 4%;
  max-width: 500px;
  font-size: 0.8em; }

.aboutSectionText span {
  font-size: 1em;
  font-weight: 800;
  display: block;
  margin-bottom: 5px; }

.aboutSectionWrapper > button {
  display: none; }

@media (min-width: 760px) {
  .aboutSectionHeading {
    font-size: 2.8em;
    margin-bottom: 40px; }

  .aboutSectionText {
    margin: 50px auto;
    font-size: 1em;
    padding: 0; }

  .aboutSectionText span {
    font-size: 1.3em;
    margin-bottom: 10px; } }
@media (min-width: 1200px) {
  .aboutSection {
    background-attachment: fixed; }

  .aboutSectionWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .aboutSectionHeading {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 3.5em; }

  .aboutSectionText {
    margin-left: calc(50% - 500px);
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .aboutSectionText span {
    font-size: 1.3em;
    margin-bottom: 10px; }

  .aboutSectionWrapper > div {
    width: 50%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }

  .aboutSectionAvatar {
    width: 50%;
    height: auto; }

  .aboutSectionWrapper > button {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-left: calc(50% - 500px); } }
@media (max-height: 500px) and (max-width: 900px) {
  .aboutSectionWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .aboutSectionHeading {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0; }

  .aboutSectionText {
    width: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 0.6em;
    margin: 10px auto;
    padding: 0 4%; }

  .aboutSectionText span {
    font-size: 1.3em;
    margin-bottom: 5px; }

  .aboutSectionWrapper > div {
    width: 50%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }

  .aboutSectionAvatar {
    width: 50%;
    height: auto; }

  .aboutSectionWrapper > button {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-left: 4%;
    padding: 5px 30px;
    font-size: 10px; } }
@media (max-height: 800px) and (max-width: 1050px) and (min-width: 760px) and (min-height: 600px) {
  .aboutSectionWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .aboutSectionHeading {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .aboutSectionText {
    width: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 0.9em;
    padding: 0 4%; }

  .aboutSectionText span {
    font-size: 1.2em;
    margin-bottom: 10px; }

  .aboutSectionWrapper > div {
    width: 50%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }

  .aboutSectionAvatar {
    width: 50%;
    height: auto;
    margin-top: 30px; }

  .aboutSectionWrapper > button {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-left: 4%; } }
.offers {
  color: black;
  height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f9f9f9;
  position: relative; }

.offers h2 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  font-size: 1.6em; }

.offersCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 2px 18px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 18px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: #f9f9f9; }

.offersCard > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
  padding: 0 15px; }

.offersCard > div p:nth-last-child(1) {
  display: none; }

.offersCard img {
  width: 25%;
  max-width: 100px; }

.offersCard h3 {
  margin: 0 0 5px 0;
  font-size: 1.1em; }

.offersCard button {
  padding: 0;
  position: relative; }

.offersCard button::after {
  content: "";
  position: absolute;
  left: -15px;
  width: 10px;
  height: 10px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.offersCard button span {
  display: none; }

@media (min-width: 760px) {
  .offers {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center; }

  .offers h2 {
    width: 100%;
    font-size: 2.8em; }

  .offersCard {
    width: calc(50% - 25px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.3); }

  .offersCard .blackBlock {
    position: relative;
    width: 100%; }

  .offersCard .blackBlock::after {
    content: "";
    position: absolute;
    left: 17%;
    top: 30px;
    width: 66%;
    height: 200px;
    background-color: #222;
    border-radius: 5px;
    z-index: 1; }

  .offersCard img {
    z-index: 3;
    position: relative;
    width: 120px;
    max-width: none; }

  .offersCard > div {
    padding: 0;
    width: 66%;
    text-align: center; }

  .offersCard h3 {
    padding: 25px 0 40px 0;
    z-index: 3;
    position: relative;
    width: 64%;
    margin: 0 auto;
    font-size: 1.3em;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase; }

  .offersCard > div p {
    padding: 10px 0;
    font-weight: 700;
    width: 94%;
    margin: 0 auto; }

  .offersCard > div p:nth-last-child(1) {
    display: block;
    border-top: 1px solid lightgrey;
    font-size: 0.8em; }

  .offersCard button {
    background-color: #222; }

  .offersCard button span {
    display: block; }

  .offersCard button::after {
    content: none; }

  .offersCard button {
    margin-top: 10px;
    padding: 10px 50px; } }
@media (min-width: 1200px) {
  .offers h2 {
    font-size: 3.5em;
    margin-bottom: 30px; }

  .offersCard {
    width: calc(24% - 25px);
    padding: 30px 0; }

  .offersCard .blackBlock::after {
    content: "";
    left: 15%;
    width: 70%; }

  .offersCard > div {
    width: 70%; }

  .offersCard h3 {
    width: 80%;
    margin: 0 auto; } }
@media (max-height: 500px) and (max-width: 900px) {
  .offers {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center; }

  .offers h2 {
    width: 100%; }

  .offersCard {
    padding: 5px;
    margin: 5px;
    width: calc(50% - 20px);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: normal;
        align-content: normal;
    -webkit-box-shadow: 0 2px 18px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 18px rgba(0, 0, 0, 0.3); }

  .offersCard img {
    width: 25%; }

  .offersCard .blackBlock::after {
    content: none; }

  .offersCard > div {
    padding: 0 15px;
    width: auto;
    text-align: left; }

  .offersCard h3 {
    padding: 0;
    width: auto;
    font-size: 1em;
    letter-spacing: 0;
    color: #000; }

  .offersCard > div p {
    font-size: .9em;
    text-align: left;
    padding: 5px 0;
    font-weight: 400;
    margin: 0; }

  .offersCard > div p:nth-last-child(1) {
    display: none; }

  .offersCard button {
    padding: 0;
    margin-top: 0; }

  .offersCard button span {
    display: none; }

  .offersCard button::after {
    content: "";
    position: absolute;
    left: -15px;
    width: 10px;
    height: 10px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

  .offersCard .blackBlock {
    display: none; } }
@media (max-height: 800px) and (max-width: 1050px) and (min-width: 760px) and (min-height: 600px) {
  .offersCard {
    width: calc(25% - 20px);
    padding: 25px 0; }

  .offersCard .blackBlock::after {
    content: "";
    left: 7.5%;
    width: 85%; }

  .offersCard > div {
    width: 90%; }

  .offersCard h3 {
    width: 90%;
    margin: 0 auto; } }
.adminSection {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../Assets/interior.png");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Assets/interior.png");
  background-size: cover;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.loginMenu {
  width: 300px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 50px 3px #0d2;
          box-shadow: 0px 0px 50px 3px #0d2;
  border: 4px solid #00dd22;
  border-radius: 10px;
  padding: 20px 0 35px; }

.loginMenu img {
  width: 150px;
  margin: 0 auto; }

.loginMenu h2 {
  margin-top: 0; }

.loginMenu .input-field,
.searchCases {
  position: relative;
  width: 250px;
  height: 44px;
  line-height: 44px;
  margin: 10px auto; }

.loginMenu label,
.searchCases label {
  position: absolute;
  top: -5px;
  left: 0;
  -webkit-transition: 0.2s all;
  transition: 0.2s all; }

.loginMenu input,
.searchCases input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
  background-color: transparent;
  border-bottom: 2px solid #fff; }

.loginMenu input:focus,
.loginMenu input:valid,
.searchCases input:focus,
.searchCases input:valid {
  border-color: #00dd22; }

.loginMenu input:focus ~ label,
.loginMenu input:valid ~ label,
.searchCases input:focus ~ label,
.searchCases input:valid ~ label {
  top: -24px;
  color: #00dd22; }

.loginMenu button {
  width: 250px;
  margin-top: 10px;
  font-size: 14px;
  background-color: transparent;
  border-color: #0d2;
  -webkit-box-shadow: inset 0 0 18px 0px #0d2;
          box-shadow: inset 0 0 18px 0px #0d2; }

.loginMenu button:hover,
.loginMenu button:focus {
  -webkit-transform: scale(1.04);
          transform: scale(1.04); }

/************************************************************************************
*****************************        Admin panel         ****************************
*************************************************************************************/
.adminProfile {
  width: 80%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 50px 3px #0d2;
          box-shadow: 0px 0px 50px 3px #0d2;
  border: 4px solid #00dd22;
  border-radius: 10px;
  padding: 20px 0 35px; }

.adminProfile h3 {
  display: inline-block;
  width: 50%;
  font-size: 2em;
  margin-top: 0;
  font-family: 'Merienda One', Arial, Helvetica, sans-serif; }

.searchCases {
  display: inline-block; }

.cases {
  height: 380px;
  overflow: scroll; }

.case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  padding: 15px 10px;
  border-bottom: #fff 2px solid; }

.case .id {
  width: 150px; }

.case .title {
  text-align: left; }

.case .title,
.case .company {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.deleteButton,
.updateButton {
  text-indent: -99999px;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  border: none;
  position: relative;
  margin-left: 15px;
  width: 40px;
  height: 40px;
  border: 1px solid #FF0000;
  -webkit-box-shadow: 0 0 12px 0px #FF0000;
          box-shadow: 0 0 12px 0px #FF0000; }

.deleteButton:hover,
.updateButton:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  -webkit-box-shadow: inset 0 0 12px 0px #FF0000;
          box-shadow: inset 0 0 12px 0px #FF0000; }

.deleteButton::after,
.updateButton::after {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;
  background-image: url(../Assets/bin.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  content: ""; }

.updateButton {
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 12px 0px #fff;
          box-shadow: 0 0 12px 0px #fff; }

.updateButton:hover {
  -webkit-box-shadow: inset 0 0 12px 0px #fff;
          box-shadow: inset 0 0 12px 0px #fff; }

.updateButton::after {
  content: "";
  background-image: url(../Assets/pencil.svg); }

.newCaseButton {
  margin: 20px 15px 0 0; }

.adminProfile a {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 50px;
  border-radius: 10px;
  font-size: 12px;
  text-decoration: none; }

/************************************************************************************
*****************************         Case Form          ****************************
*************************************************************************************/
.caseFormWrapper {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0; }

.caseForm {
  width: 80%;
  margin: 100px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: black;
  -webkit-box-shadow: 0px 0px 20px 3px #0d2;
          box-shadow: 0px 0px 20px 3px #0d2;
  border: 4px solid #00dd22;
  border-radius: 10px;
  padding: 20px 0 35px; }

.caseForm label {
  display: block; }

.caseForm div:nth-child(2) {
  width: calc(33% - 15px);
  margin: 0 5px 0 10px; }

.caseForm div:nth-child(4) {
  width: calc(33% - 15px);
  margin: 0 10px 0 5px; }

.caseForm div:nth-child(3) {
  width: calc(33% - 10px);
  margin: 0 5px; }

.caseForm div:nth-child(5),
.caseForm div:nth-child(6),
.caseForm div:nth-child(7),
.caseForm div:nth-child(8) {
  width: calc(50% - 15px);
  margin: 0 5px 0 10px; }
  .caseForm div:nth-child(5) label,
  .caseForm div:nth-child(6) label,
  .caseForm div:nth-child(7) label,
  .caseForm div:nth-child(8) label {
    margin: 10px 0 5px; }

.caseForm div:nth-child(6),
.caseForm div:nth-child(8) {
  margin: 0 10px 0 5px; }

.caseForm button {
  margin: 0 auto; }

.caseForm textarea,
.caseForm input {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 16px;
  resize: none; }

.caseForm input {
  height: auto; }

.caseSection {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../Assets/interior.png");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Assets/interior.png");
  background-size: cover;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.caseSection h2 {
  font-size: 1.6em;
  margin-bottom: 40px;
  margin-top: 0; }

.caseCard {
  border-left: 20px solid #209044;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px;
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  color: black;
  background-color: #fff; }

.caseCard > div {
  width: calc(100% - 10px); }

.caseCardCategory,
.caseCardHeading {
  margin: 5px 0;
  text-align: left;
  width: 100%;
  display: block; }

.caseCardCategory {
  font-size: 1.3em; }

.caseCardHeading {
  font-size: 1em;
  font-weight: 600; }

.caseCardProblem {
  display: none; }

.caseCardButton {
  padding: 0;
  position: relative; }

.caseCardButton::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 3px solid #209044;
  border-right: 3px solid #209044;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.caseCardButton span {
  display: none; }

@media (min-width: 760px) {
  .caseSection h2 {
    font-size: 2.8em; } }
@media (min-width: 1200px) {
  .caseSection {
    background-attachment: fixed; }

  .caseSection h2 {
    font-size: 3.5em;
    margin-top: 0; }

  .caseCard {
    border-radius: 5px;
    border-left: none;
    width: 90%;
    margin: 10px auto;
    padding: 10px 20px 10px 10px;
    -webkit-box-shadow: inset 0px 0px 5px 0px #222;
            box-shadow: inset 0px 0px 5px 0px #222; }

  .caseCard > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .caseCard > div > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 15px; }

  .caseCardCategory {
    font-size: 1.3em;
    text-align: center;
    width: 180px;
    padding: 25px 20px;
    margin: 0;
    color: #fff;
    background-color: #209044;
    border-radius: 5px; }

  .caseCardCategory > span {
    display: block; }

  .caseCardHeading {
    font-size: 1.3em;
    font-weight: 800;
    margin-top: 0; }

  .caseCardProblem {
    display: block;
    text-align: left;
    font-size: 1em;
    font-weight: 500;
    height: 70px;
    overflow: hidden; }

  .caseCardButton::after {
    content: "";
    top: -7.5px;
    width: 15px;
    height: 15px;
    border-top: 5px solid #209044;
    border-right: 5px solid #209044; } }
.singleCase {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.8))), url("../Assets/interior.png");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("../Assets/interior.png");
  background-size: cover;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.singleCaseWrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 140px; }

.singleCaseWrapper .imageWrapper {
  width: 25%; }

.singleCaseWrapper .imageWrapper::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: calc(12.5% - 5px);
  top: 0;
  width: 10px;
  height: 100%;
  background-color: #fff; }

.singleCaseWrapper a {
  position: absolute;
  left: 20px;
  top: 10px;
  color: #fff;
  text-decoration: none; }

.singleCaseWrapper a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.singleCaseWrapper h1 {
  font-size: 0.9em;
  margin-top: 50px; }

.singleCaseWrapper img {
  max-width: 75%;
  height: auto;
  margin: 0 auto;
  position: relative;
  z-index: 1; }

.singleCaseWrapper p {
  font-size: 0.7em; }

.singleCaseWrapper h2 {
  font-size: 0.7em;
  margin-top: 0; }

.singleCaseWrapper .contentWrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 3% 0;
  padding-right: 10px; }

@media (min-width: 330px) {
  .singleCaseWrapper h1 {
    font-size: 1.1em;
    padding: 0 2%; }

  .singleCaseWrapper p {
    font-size: 0.8em; }

  .singleCaseWrapper h2 {
    font-size: .8em; } }
@media (min-width: 760px) {
  .singleCaseWrapper a {
    left: 30px;
    top: 15px;
    font-size: 1.3em; }

  .singleCaseWrapper a::before {
    content: "";
    top: 7.5px;
    left: -11px;
    width: 10px;
    height: 10px; }

  .singleCaseWrapper .imageWrapper {
    margin: 0 5%; }

  .singleCaseWrapper .imageWrapper::before {
    content: "";
    left: calc(17.5% - 5px); }

  .singleCaseWrapper h1 {
    font-size: 1.5em;
    padding: 0 15%; }

  .singleCaseWrapper h2 {
    font-size: 1.3em; }

  .singleCaseWrapper img {
    max-width: 65%; }

  .singleCaseWrapper p {
    font-size: 1.1em; }

  .singleCaseWrapper .contentWrapper {
    padding-right: 5%;
    margin: 5% 0; } }
@media (min-width: 1200px) {
  .singleCaseWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 3%; }

  .singleCaseWrapper h1 {
    width: 100%;
    margin-bottom: 40px;
    padding: 0 20%;
    font-size: 3em; }

  .singleCaseWrapper > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

  .singleCaseWrapper .imageWrapper {
    width: 100%;
    margin: 0; }

  .singleCaseWrapper .imageWrapper::before {
    content: "";
    left: 0;
    top: 70px;
    width: 100%;
    height: 10px; }

  .singleCaseWrapper img {
    width: 150px;
    max-width: none; }

  .singleCaseWrapper h2 {
    font-size: 1.4em;
    letter-spacing: 1px; }

  .singleCaseWrapper h2 span {
    display: block; }

  .singleCaseWrapper p {
    font-size: 1.1em; }

  .singleCaseWrapper .contentWrapper {
    padding: 0 5%;
    margin: 10% 0; } }
@media (max-height: 500px) and (max-width: 900px) {
  .singleCaseWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 3%; }

  .singleCaseWrapper h1 {
    width: 100%;
    margin-bottom: 25px;
    padding: 0 20%;
    font-size: 1.3em; }

  .singleCaseWrapper > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

  .singleCaseWrapper .imageWrapper {
    width: 100%;
    margin: 0; }

  .singleCaseWrapper .imageWrapper::before {
    content: "";
    left: 0;
    top: 30px;
    width: 100%;
    height: 8px; }

  .singleCaseWrapper img {
    width: 70px;
    max-width: none; }

  .singleCaseWrapper h2 {
    font-size: 0.8em; }

  .singleCaseWrapper h2 span {
    display: inline-block; }

  .singleCaseWrapper p {
    font-size: 0.6em; }

  .singleCaseWrapper .contentWrapper {
    padding: 0 5%;
    margin: 10% 0; } }
@media (max-height: 800px) and (max-width: 1050px) and (min-width: 760px) and (min-height: 600px) {
  .singleCaseWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 3%; }

  .singleCaseWrapper h1 {
    width: 100%;
    margin-bottom: 40px;
    padding: 0 20%;
    font-size: 1.8em; }

  .singleCaseWrapper > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

  .singleCaseWrapper .imageWrapper {
    width: 100%;
    margin: 0; }

  .singleCaseWrapper .imageWrapper::before {
    content: "";
    left: 0;
    top: 45px;
    width: 100%;
    height: 10px; }

  .singleCaseWrapper img {
    width: 100px;
    max-width: none; }

  .singleCaseWrapper h2 {
    font-size: 1.4em;
    letter-spacing: 1px; }

  .singleCaseWrapper h2 span {
    display: block; }

  .singleCaseWrapper p {
    font-size: 1.1em; }

  .singleCaseWrapper .contentWrapper {
    padding: 0 5%;
    margin: 10% 0; } }
.offersPage {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.8))), url("../Assets/interior.png");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("../Assets/interior.png");
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000; }

.offersPageWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3; }

.offersPageCard {
  position: absolute;
  padding: 15px;
  width: 90%;
  border: 2px solid #000;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px; }

.offersPageCard div {
  width: 30%; }

.offersPageCard h3 {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-transform: uppercase;
  padding: 0 10%; }

.offersPageCard p {
  width: 100%;
  padding: 10px 0; }

.offersPageClose {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  text-indent: -99999px;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 0;
  background-color: transparent; }

.offersPageClose:hover {
  -webkit-transform: scale(1.18);
          transform: scale(1.18); }

.offersPageClose::after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-image: url(../Assets/cross.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  content: ""; }

@media (min-width: 760px) {
  .offersPageCard {
    padding: 20px;
    width: 80%; }

  .offersPageCard h3 {
    padding: 0 20px;
    font-size: 1.8em; }

  .offersPageCard p {
    font-size: 1.4em; }

  .offersPageCard p:nth-last-child(3) {
    margin-top: 20px; } }
@media (min-width: 1200px) {
  .offersPageCard {
    padding: 3%;
    width: 60%; }

  .offersPageCard div {
    width: 25%;
    margin-left: 2.5%; }

  .offersPageCard h3 {
    font-size: 2.2em; }

  .offersPageCard p {
    font-size: 1.4em; }

  .offersPageClose {
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px; }

  .offersPageClose::after {
    width: 30px;
    height: 30px;
    content: ""; } }
@media (max-height: 500px) and (max-width: 900px) {
  .offersPageCard {
    padding: 20px;
    width: 85%; }

  .offersPageCard div {
    width: 15%;
    margin-left: 2.5%; }

  .offersPageCard p {
    font-size: 0.8em;
    padding-bottom: 0; } }
@media (max-height: 800px) and (max-width: 1050px) and (min-width: 760px) and (min-height: 600px) {
  .offersPageCard {
    padding: 30px;
    width: 75%; }

  .offersPageCard div {
    width: 25%;
    margin-left: 2.5%; }

  .offersPageCard p {
    font-size: 1.2em; }

  .offersPageCard h3 {
    font-size: 2em; } }
@-webkit-keyframes bouncer {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0); }
  30% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
            transform: rotate(-45deg) translate(-10px, 10px); }
  50% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0); } }
@keyframes bouncer {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0); }
  30% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
            transform: rotate(-45deg) translate(-10px, 10px); }
  50% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0); } }
.scroll-btn {
  -webkit-transition: all 250ms ease-in-out 25ms;
  transition: all 250ms ease-in-out 25ms; }
  .scroll-btn span {
    position: absolute;
    width: 34px;
    height: 34px;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-animation: bouncer 2s infinite;
            animation: bouncer 2s infinite; }
  .scroll-btn:hover span {
    width: 35px;
    height: 35px;
    border-left: 6px solid #fff;
    border-bottom: 6px solid #fff;
    -webkit-transition: all 400ms ease 50ms;
    transition: all 400ms ease 50ms;
    -webkit-animation: none;
            animation: none; }

.reference {
  height: 70vh;
  background-color: black; }

.referenceLogos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 0 auto;
  min-height: 35vh; }

.referenceLogos > h2 {
  width: 100%;
  text-align: center;
  font-size: 1.3em; }

.referenceLogos > div {
  width: 33%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1); }

.referenceLogos > div > img {
  width: 90%;
  margin: 0 auto; }

.referenceCompany {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 35vh;
  padding: 0 15px; }

.referenceCompany > div:nth-child(1),
.referenceCompany > div:nth-child(3) {
  display: block;
  font-size: 3.5em;
  line-height: 0;
  padding-bottom: 34px; }

.referenceCompany > div > span {
  display: block;
  font-size: 0.9em;
  width: 100%;
  text-align: center;
  margin-top: 10px; }

.referenceCompany > div > span:nth-child(2) {
  margin-bottom: 10px; }

@media (min-width: 760px) {
  .referenceLogos > h2 {
    font-size: 2em; }

  .referenceLogos > div {
    width: 20%; }

  .referenceCompany {
    min-height: 35vh;
    padding: 0 15%; }

  .referenceCompany > div:nth-child(1),
  .referenceCompany > div:nth-child(3) {
    display: block;
    font-size: 6.5em;
    line-height: 0;
    padding-bottom: 60px; }

  .referenceCompany > div > span {
    font-size: 1.3em;
    margin-top: 20px; }

  .referenceCompany > div > span:nth-child(2) {
    margin-bottom: 10px; } }
@media (min-width: 1200px) {
  .referenceLogos > h2 {
    font-size: 1.8em;
    margin: 10px 0; }

  .referenceLogos > div {
    width: 18%;
    -webkit-filter: grayscale(1);
            filter: grayscale(1); }

  .referenceCompany {
    padding: 0 20%; }

  .referenceCompany > div:nth-child(1),
  .referenceCompany > div:nth-child(3) {
    display: block;
    font-size: 6em;
    line-height: 0;
    padding-bottom: 55px; }

  .referenceCompany > div > span {
    font-size: 1.3em;
    margin-top: 20px; }

  .referenceCompany > div > span:nth-child(2) {
    margin-bottom: 10px; } }
@media (max-height: 500px) and (max-width: 900px) {
  .referenceCompany > div:nth-child(1),
  .referenceCompany > div:nth-child(3) {
    font-size: 3em;
    padding-bottom: 30px; }

  .referenceCompany > div > span {
    font-size: .7em;
    margin-top: 5px; }

  .referenceCompany > div > span:nth-child(2) {
    margin-bottom: 5px; }

  .referenceLogos > h2 {
    font-size: .9em; }

  .referenceLogos > div {
    width: 18%; } }
@media (max-height: 800px) and (max-width: 1050px) and (min-width: 760px) and (min-height: 600px) {
  .referenceLogos > h2 {
    font-size: 2.3em; } }
footer {
  color: #fff;
  height: 30vh;
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  footer img {
    width: 15px;
    margin: 0 10px 4px 0; }
  footer h2 {
    font-size: 0.9em;
    margin-bottom: 25px; }
  footer a {
    font-family: 'Merienda One', Arial, Helvetica, sans-serif;
    display: block;
    text-decoration: none;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 0;
    font-size: 0.8em; }
  footer div {
    width: 100%;
    margin: 0 5%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

footer div:nth-last-child(1) {
  display: none; }

@media (min-width: 760px) {
  footer {
    overflow: hidden; }
    footer h2 {
      font-size: 1.1em;
      margin-bottom: 25px; }
    footer a {
      font-size: 0.9em;
      margin: 15px 0; }
    footer img {
      width: 20px;
      margin: 0 15px 5px 0; }
    footer div {
      margin: 0 0 0 5%; }

  footer div:nth-last-child(1) {
    display: block;
    margin: 0 5%; }
    footer div:nth-last-child(1) img {
      width: 130%;
      margin: 30% 0 0 -10%; } }
@media (min-width: 1200px) {
  footer h2 {
    font-size: 0.9em;
    margin-bottom: 0; }
  footer a {
    font-size: 0.8em;
    margin: 10px 0; }
  footer img {
    width: 15px;
    margin: 0 10px 4px 0; }
  footer div {
    margin: 0 0 0 10%; }

  footer div:nth-last-child(1) img {
    width: 70%;
    margin: 22% 0 0 25%; } }
@media (max-height: 500px) and (max-width: 900px) {
  footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center; }
  footer h2 {
    width: 50%;
    margin: 10px 0;
    font-size: 0.7em; }
  footer a {
    width: 50%;
    font-size: 0.8em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  footer img {
    width: 20px;
    margin: 0 8px 5px 0; }

  footer div:nth-last-child(1) {
    display: none; } }
@media (max-height: 800px) and (max-width: 1050px) and (min-width: 760px) and (min-height: 600px) {
  footer h2 {
    font-size: 1em;
    margin-bottom: 0; }
  footer a {
    font-size: 1em;
    margin: 10px 0; }
  footer img {
    width: 25px;
    margin: 0 10px 4px 0; }
  footer div {
    margin: 0 0 0 10%; }

  footer div:nth-last-child(1) img {
    width: 95%;
    margin: 35% 0 0 10%; } }
/*
main {
	max-width: $content-width;
    margin: 0 auto;
	color: $font-color;
    display: flex;
	h1 {
		font-size: $header-size;
	}
}*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

* p {
  margin: 0; }

h1, h2 {
  font-weight: 100;
  font-family: 'Merienda One', Arial, Helvetica, sans-serif; }

body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  color: white;
  margin: 0 auto;
  background-color: #f9f9f9; }

button {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 50px;
  border-radius: 10px;
  font-size: 12px; }
