.aboutSection {
    height: 100vh;
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url('../Assets/interior.png');
    background-size: cover;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutSectionHeading {
    margin: 0;
    font-size: 1.6em;
    margin-bottom: 20px;
}
.aboutSectionAvatar {
    width: 60%;
    height: auto;
}
.aboutSectionText {
    margin: 20px auto;
    padding: 0 4%;
    max-width: 500px;
    font-size: 0.8em;
}
.aboutSectionText span{
    font-size: 1em;
    font-weight: 800;
    display: block;
    margin-bottom: 5px;
}
.aboutSectionWrapper > button{
    display: none;
}
@include for-tablet{
    .aboutSectionHeading {
        font-size: 2.8em;
        margin-bottom: 40px;
    }
    .aboutSectionText {
        margin: 50px auto;
        font-size: 1em;
        padding: 0;
    } 
    .aboutSectionText span{
        font-size: 1.3em;
        margin-bottom: 10px;
    }
}
@include for-desktop{
    .aboutSection {
        background-attachment: fixed;
    }
    .aboutSectionWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .aboutSectionHeading {
        width: 100%;
        order: 1;
        font-size: 3.5em;
    }
    .aboutSectionText {
       margin-left: calc(50% - 500px);
       order: 2;
    } 
    .aboutSectionText span{
        font-size: 1.3em;
        margin-bottom: 10px;
    }
    .aboutSectionWrapper > div{
        width: 50%;
        order: 3;
    }
    .aboutSectionAvatar {
        width: 50%;
        height: auto;
    }
    .aboutSectionWrapper > button{
        order: 4;
        margin-left: calc(50% - 500px);
    }
}
@include for-landscape-mobile{
    .aboutSectionWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .aboutSectionHeading {
        width: 100%;
        order: 1;
        margin: 0;
    }
    .aboutSectionText {
        width: 50%;
        order: 2;
        font-size: 0.6em;
        margin: 10px auto;
        padding: 0 4%;
    } 
    .aboutSectionText span{
        font-size: 1.3em;
        margin-bottom: 5px;
    }
    .aboutSectionWrapper > div{
        width: 50%;
        order: 3;
    }
    .aboutSectionAvatar {
        width: 50%;
        height: auto;
    }
    .aboutSectionWrapper > button{
        order: 4;
        margin-left: 4%;
        padding: 5px 30px;
        font-size: 10px;
    }
}
@include for-landscape-tablet{
    .aboutSectionWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .aboutSectionHeading {
        width: 100%;
        order: 1;
    }
    .aboutSectionText {
        width: 50%;
        order: 2;
        font-size: 0.9em;
        padding: 0 4%;
    } 
    .aboutSectionText span{
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    .aboutSectionWrapper > div{
        width: 50%;
        order: 3;
    }
    .aboutSectionAvatar {
        width: 50%;
        height: auto;
        margin-top: 30px;
    }
    .aboutSectionWrapper > button{
        order: 4;
        margin-left: 4%;
    }
}