footer{
    color: #fff;
    height: 30vh;
    background-color: #222;
    display: flex;
    align-items: center;
    img{
        width: 15px;
        margin: 0 10px 4px 0;
    }
    h2{
        font-size: 0.9em;
        margin-bottom: 25px;
    }
    a{
        font-family: 'Merienda One', Arial, Helvetica, sans-serif; 
        display: block;
        text-decoration: none;
        color: #fff;
        display: flex;
        align-items: center;
        margin: 10px 0;
        font-size: 0.8em;
    }
    div{
        width: 100%;
        margin: 0 5%;
        flex: 1;
    }
}
footer div:nth-last-child(1){
    display: none;
}
@include for-tablet{
    footer{
        overflow: hidden;
        h2{
            font-size: 1.1em;
            margin-bottom: 25px;
        }
        a{
            font-size: 0.9em;
            margin: 15px 0;
        }
        img{
            width: 20px;
            margin: 0 15px 5px 0;
        }
        div{
            margin: 0 0 0 5%;
        }
    }
    footer div:nth-last-child(1){
        display: block;
        margin: 0 5%;
        img{
            width: 130%;
            margin: 30% 0 0 -10%;
        }
    }
}
@include for-desktop{
    footer{
        h2{
            font-size: 0.9em;
            margin-bottom: 0;
        }
        a{
            font-size: 0.8em;
            margin: 10px 0;
        }
        img{
            width: 15px;
            margin: 0 10px 4px 0;
        }
        div{
            margin: 0 0 0 10%;
        }
    }
    footer div:nth-last-child(1){
        img{
            width: 70%;
            margin: 22% 0 0 25%;
        }
    }
}
@include for-landscape-mobile{
    footer{
        div{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
        }
        h2{
            width: 50%;
            margin: 10px 0;
            font-size: 0.7em;
        }
        a{
            width: 50%;
            font-size: 0.8em;
            justify-content: center;
        }
        img {
            width: 20px;
            margin: 0 8px 5px 0;
        }
    }
    footer div:nth-last-child(1){
        display: none;
    }
}
@include for-landscape-tablet{
    footer{
        h2{
            font-size: 1em;
            margin-bottom: 0;
        }
        a{
            font-size: 1em;
            margin: 10px 0;
        }
        img{
            width: 25px;
            margin: 0 10px 4px 0;
        }
        div{
            margin: 0 0 0 10%;
        }
    }
    footer div:nth-last-child(1){
        img{
            width: 95%;
            margin: 35% 0 0 10%;
        }
    }
}