.home{
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url('../Assets/interior.png');
    background-size: cover;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;/* FallBack IE */
    justify-content: space-evenly;
}
.home h1{
    text-align: center;
    font-size: 15vw;
    margin: 0;
}
.home p{
    font-size: 4.3vw;
    margin-top: -3vw;
    margin-left: -20vw;
    font-family: 'Merienda One',Arial,Helvetica,sans-serif;
}
.home img{
    width: 80%;
}
.home a{
    position: absolute;
    bottom: 60px;
    left: calc(50% - 14px);
    display: block;
    z-index: 1;
}
@include for-tablet{
    .home h1{
        font-size: 12vw;
    }
    .home > div:nth-child(1){
        margin-top: 15vw;    
    }
    .home > div:nth-child(2){
        margin-bottom: 15vw;    
    }
    .home p{
        font-size: 3.3vw;
        margin-top: -3vw;
        margin-left: -18vw;
    }
    .home img {
        width: 65%;
    }
}
@include for-desktop{
    .home{
        background-attachment: fixed;
        flex-direction: row;
        align-items: center;
    }
    .home > div:nth-child(1){
        margin-top: 0;
        margin-bottom: 10vw;
        width: 60%;
    }
    .home > div:nth-child(2){
        margin-bottom: 0;    
        width: 40%;
        margin-left: -5vw;
    }
    .home h1 {
        font-size: 9vw;
    }
    .home p{
        font-size: 2vw;
        margin-top: -2.2vw;
        margin-left: -21vw;
    }
    .home img {
        margin-right: 10%;
        width: 90%;
    }
}
@include for-landscape-mobile{
    .home{
        background-attachment: fixed;
        flex-direction: row;
        align-items: center;
    }
    .home > div:nth-child(1){
        margin-top: 0;
        margin-bottom: 10vw;
        width: 60%;
    }
    .home > div:nth-child(2){
        margin-bottom: 0;    
        width: 40%;
        margin-left: -5vw;
    }
    .home h1 {
        font-size: 9vw;
    }
    .home p{
        font-size: 2vw;
        margin-top: -2.2vw;
        margin-left: -21vw;
    }
    .home img {
        margin-right: 10%;
        width: 90%;
    }
}
@include for-landscape-tablet{
    .home{
        background-attachment: fixed;
        flex-direction: row;
        align-items: center;
    }
    .home > div:nth-child(1){
        margin-top: 0;
        margin-bottom: 10vw;
        width: 60%;
    }
    .home > div:nth-child(2){
        margin-bottom: 0;    
        width: 40%;
        margin-left: -5vw;
    }
    .home h1 {
        font-size: 9vw;
    }
    .home p{
        font-size: 2vw;
        margin-top: -2.2vw;
        margin-left: -21vw;
    }
    .home img {
        margin-right: 10%;
        width: 90%;
    }
}