@import 'base';
@import 'mixin';
@import 'nav';
@import 'home-page';
@import 'quote';
@import 'about-section';
@import 'offers';
@import 'admin';
@import 'caseSection';
@import 'singleCase';
@import 'offersPage';
@import 'scroll-btn';
@import 'reference';
@import 'footer';
/*
main {
	max-width: $content-width;
    margin: 0 auto;
	color: $font-color;
    display: flex;
	h1 {
		font-size: $header-size;
	}
}*/
*{
    box-sizing: border-box;
}
* p{
    margin: 0;
}
h1, h2{
    font-weight: 100;
    font-family: 'Merienda One', Arial, Helvetica, sans-serif; 
}
body {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    color: white;
    margin: 0 auto;
    background-color: #f9f9f9;
}
button{
    background-color: rgba(0,0,0,0.5);
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 12px;
}