@import 'base';
@import 'mixin';
@import 'nav';
@import 'home-page';
@import 'quote';
@import 'about-section';
@import 'offers';
@import 'admin';
@import 'scroll-btn';
/*
main {
	max-width: $content-width;
    margin: 0 auto;
	color: $font-color;
    display: flex;
	h1 {
		font-size: $header-size;
	}
}*/
@include for-desktop{
    section{
        background-attachment: fixed;
    }
    .quoteWrapper{
        background-attachment: fixed;
    }
}
:root {
    --app-height: 100vh;
}
*{
    box-sizing: border-box;
}
* p{
    margin: 0;
}
/*
@font-face {
    font-family: 'MyWebFont';
    src: url('../Assets/Japan.otf'); 
}
*/
h1, h2{
    font-family: 'Merienda One', Arial, Helvetica, sans-serif; 
}
body {
    margin: 0;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    /*background-color: rgba(42, 42, 46, 1);*/
    color: white;
    
}
button{
    background-color: rgba(0,0,0,0.5);
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 50px;
    border-radius: 10px;
}
/*
.section3{
    background-color: black;
    height: 100vh;
    text-align: center;
    display: grid;
    align-items: center;
}
.section3 p span:nth-child(1){
   display: block; 
   font-size: 2em;
   margin-bottom: 20px;
}
.section3 p span:nth-child(2){
    display: block; 
    font-size: 1.2em;
    margin-bottom: 20px;
 }
 .section3 p span:nth-child(3){
    display: block; 
    font-size: 1.2em;
    margin-bottom: 20px;
 }
 .section3 p span:nth-child(4){
    display: block; 
    font-size: 1em;
    margin-bottom: 20px;
 }
 .section3 p span:nth-child(5){
    display: block; 
    font-size: 1em;
    margin-bottom: 20px;
 }

*/